<app-loader *ngIf="utils.isLoading"></app-loader>

<app-page-header [pageTitle]="title" [showAddButton]="false"></app-page-header>

<div class="filter mb-3">
    <h4 class="head" style="margin-bottom: -1px;" (click)="expandForm()">Filter Sales</h4>
    <form action="" [hidden]="hideForm" [formGroup]="filterAccount" (ngSubmit)="filtered()" class="mb-3">
        <div class="row">
            <div class="form-group col-md-4">
                <label class="form-label">Date sold (start date)</label>
                <input type="date" class="form-control" formControlName="startDateSold">
            </div>

            <div class="form-group col-md-4">
                <label class="form-label">Date sold (End date)</label>
                <input type="date" class="form-control" formControlName="endDateSold">
            </div>
        </div>

        <button class="btn rounded-pill">
            <span class="" aria-hidden="true"></span>&nbsp; Submit
        </button>
    </form>
</div>

<app-account-table [displayRows]="datasource" [displayColumns]="tableColumns" [res]="totals"></app-account-table>
