.filter {
    border: 1px solid var(--primary-color);
    border-radius: 4px;
}

.filter form {
    padding: 10px;
}

.head {
    padding: 10px;
    background-color: rgb(231, 228, 228);
    border: 1px solid var(--primary-color);
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 4px;
    cursor: pointer;
}