<app-loader *ngIf="utils.isLoading"></app-loader>

<app-page-header [pageTitle]="title" [buttonLabel]="title" [detailPage]="true" [showAddButton]="false" (buttonAction)="utils.triggerModal(template, ['modal-md, modal-dialog-centered'])">

</app-page-header>

<h3>Total Added: {{product.total_added}}</h3>

<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Update {{title}} Quantity </h4>
        <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="closeModal()"
            (click)="utils.modalRef.hide()">
            <span aria-hidden="true" class="visually-hidden">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form class="" [formGroup]="form">
            <div class="form-group">
                <label class="form-label">Product Quantity <span class="text-danger">*</span></label>
                <input type="number" class="form-control" placeholder="Enter Product Quantity"
                    formControlName="quantity">
                <div class="text-danger" *ngIf="quantity.invalid && (quantity.touched || quantity.dirty)">
                    <small>Enter Product Quantity</small>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn rounded-pill" [disabled]="form.invalid" (click)="submit()">
            <!-- <span *ngIf="utils.isLoading" class="spinner-border spinner-border-sm pr-2" role="status"
                    aria-hidden="true"></span>&nbsp;--> Submit
        </button>
    </div>
</ng-template>
