<div class="header_container">
    <div class="d-flex align-items-center">
        <button type="button" (click)="utils.goBack()" class="btn rounded-pill">
            <i class="bi bi-arrow-bar-left"></i> Go Back
        </button>
        <h3 class="ml-5 mb-0 px-3">{{pageTitle}}</h3>
    </div>


    <div class="px-2 button_container">
        <ng-container *ngIf="showAddButton">
            <button type="button" class="btn rounded-pill" (click)="triggerAddButton()">
                <i class="fa fa-plus"></i> New {{buttonLabel}}
            </button>
        </ng-container>

        <ng-container *ngIf="detailPage">
            <button type="button" class="btn rounded-pill" (click)="triggerAddButton()">
                <i class="fa fa-plus"></i> Restock {{buttonLabel}}
            </button>
        </ng-container>
    </div>
</div>
<hr>