<nav class="navigation">
    <div class="search-menu-btn">
        <div class="bar">
            <i id="menu-btn" class="fa fa-bars"></i>
        </div>
        <div class="search">
            <input type="text" name="" id="" placeholder="search">
            <i class="fa fa-search"></i>
        </div>
    </div>
    
    <div class="profile">
        <h2><i class="fa fa-bell-o"></i><span class="badge badge-danger">4</span></h2>
        <div class="dropdown">
            <img routerLink="/settings" src="../../../assets/images/profile.png" tooltip="Account Setting" alt="" class="dropdown-toggle" role="" id="dropdownMenuLink"
                aria-haspopup="true" aria-expanded="false">      
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
            </div>
        </div>
    </div>
</nav>