/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Acme&family=Arima:wght@300;400&family=Edu+TAS+Beginner:wght@600&family=Fugaz+One&family=Lato&family=Montserrat:wght@500&family=Nunito:wght@500&family=Poppins:wght@300&family=Space+Grotesk:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Arima:wght@300;400&family=Edu+TAS+Beginner:wght@600&family=Fugaz+One&family=Lato&family=Montserrat:wght@500&family=Nunito:wght@500&family=Poppins:wght@300&family=Space+Grotesk:wght@600&display=swap');

:root {
    --primary-color: #092035;

    --heading-font-family: Arima;
    --main-font-family: Lato;
    --logo-font-family: Space Grotesk;

    --font-size: 20px;
    
}

h1, h2, h3, h4, p, a {
    font-family: var(--main-font-family);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--main-font-family);
    width: 100%;
}

/* Light Backgrounds */
.container-fluid {
    padding-left: 0;
    padding-right: 0%;
}

.bg-primary-light {
    background-color: #cfe2ff;
    border-color: #cfe2ff;
}

.bg-secondary-light {
    background-color: #e2e3e5;
    border-color: #e2e3e5;
}

.bg-success-light {
    background-color: #d1e7dd;
    border-color: #d1e7dd;
}

.bg-danger-light {
    background-color: #f8d7da;
    border-color: #f8d7da;
}

.bg-warning-light {
    background-color: #fff3cd;
    border-color: #fff3cd;
}

.bg-info-light {
    background-color: #cff4fc;
    border-color: #cff4fc;
}

.bg-dark-light {
    background-color: #d3d3d4;
    border-color: #d3d3d4;
}

.btn {
    background: var(--primary-color);
    color: white;
}

html, body { height: 100%; }
