<div class="container-fluid">
    <h4 class="greeting ptitle mb-2">Hello <span class="emoji">✨</span> August</h4>
    <p>Welcome</p>
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <div class="sum-card">
                    <i class="fa fa-cart-plus another-icon"></i>
                    <div class="summary">
                        <h2>{{noOfSalesToday}}</h2>
                        <p>Sales Today</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card">
                <div class="sum-card">
                    <i class="fa fa-cart-plus sales-icon"></i>
                    <div class="summary">
                        <h2>{{noOfSales}}</h2>
                        <p>Total Sales</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card">
                <div class="sum-card">
                    <i class="fa fa-filter products-icon"></i>
                    <div class="summary">
                        <h2>{{noOfProducts}}</h2>
                        <p>Total Products</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card">
                <div class="sum-card">
                    <i class="fa fa-users workers-icon"></i>
                    <div class="summary">
                        <h2>27</h2>
                        <p>Total Employees</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div id="chart">
                
            </div>
        </div>
        <div class="col-md-4">
            <div class="products card">
                <div class="head mb-2">
                    <h4>Products</h4>
                    <p (click)="allproducts()">view all</p>
                </div>
                <div class="percentage mb-3" *ngFor="let product of products">
                    <div class="title">
                        <p class="product name">{{product.item_name}}</p>
                        <p>{{product.percent}}%</p>
                    </div>
                    <div class="percent-level" [ngClass]="product.percent >= 50 ? 'bg-success-light' : (product.percent <= 49 && product.percent >= 40 ? 'bg-warning-light' : 'bg-danger-light')">
                        <div class="actual-level" [ngStyle]="{'width': product.percent + '%'}" [ngClass]="product.percent >= 50 ? 'bg-success' : (product.percent <= 49 && product.percent>= 40 ? 'bg-warning' : 'bg-danger')"></div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>